# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info/
.pytest_cache/

# Virtual environments
.venv/
env/
venv/

# Configuration
p115_cloud_downloader.config
p115-cloud-downloader.config
*.config
.env

# Local data
watch/

# IDEs
.vscode/
.idea/
.DS_Store
